Templates/xml/format.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xml:lang="en">
	<xs:element name="Configuration">
		<!--
		? Represents the top-level element of a formatting file.
		-->
		<xs:complexType>
			<xs:all>
				<xs:element minOccurs="0" name="DefaultSettings" maxOccurs="1" type="DefaultSettings">
					<!-- 
					Optional element. Defines common settings that apply to all the views of the formatting file.
					-->
				</xs:element>
				<xs:element minOccurs="0" name="SelectionSets" maxOccurs="1" type="SelectionSets">
					<!--
					Optional element. Defines the common sets of .NET objects that can be used by all views of the formatting file.
					-->
				</xs:element>
				<xs:element minOccurs="0" name="Controls" maxOccurs="1" type="Controls">
					<!--
					Optional element. Defines the common controls that can be used by all views of the formatting file.
					-->
				</xs:element>
				<xs:element minOccurs="0" name="ViewDefinitions" maxOccurs="1" type="ViewDefinitions">
					<!--
					Optional element. Defines the views used to display objects.
					-->
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

​

<xs:complexType name="DefaultSettings">
	<!-- Defines common settings that apply to all the views of the formatting file. Common settings include displaying errors, wrapping text in tables, defining how collections are expanded, and more. -->
<xs:all>
<xs:element default="false" minOccurs="0" name="ShowError" maxOccurs="1" type="Boolean">
	<!-- Optional element. Specifies that the full error record is displayed when an error occurs while displaying a piece of data. -->
</xs:element>
<xs:element default="false" minOccurs="0" name="DisplayError" maxOccurs="1" type="Boolean">
	<!-- Optional element. Specifies that the string #ERR is displayed when an error occurs while displaying a piece of data. -->
</xs:element>
<xs:element default="4" minOccurs="0" name="PropertyCountForTable" maxOccurs="1" type="xs:nonNegativeInteger">
	<!-- Optional element. Specifies the minimum number of properties that an object must have to display the object in a table view. -->
</xs:element>
<xs:element default="false" minOccurs="0" name="WrapTables" maxOccurs="1" type="Boolean">
	<!-- Optional element. Specifies that data in a table is moved to the next line if it does not fit into the width of the column. -->
</xs:element>
<xs:element minOccurs="0" name="EnumerableExpansions" maxOccurs="1" type="EnumerableExpansions">